body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Full black background */
    color: white;
    text-align: center;
}

.header {
    background-color: #000; /* Netflix red */
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    display: inline; /* Inline display for header elements */
}

.header .netflix {
    color: #e50914; /* Netflix red */
}

.header .wrapped {
    color: white; /* Wrapped text in white */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-and-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%; /* Increased space above */
    margin-bottom: 1%; /* Decreased space below */
}

.search-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px; /* Space between search input and buttons */
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 8px;
    margin-left: 5px; /* Space between buttons */
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #e50914;
}

.button:hover {
    background-color: #b20710;
}

.button.add-button {
    padding: 4px 8px; /* Smaller padding */
    font-size: 90%; /* Smaller font size */
}

.data-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #000; /* Black background */
    overflow-y: auto; /* Make it scrollable */
    max-height: 300px;
    width: 80%; /* Wider width for the data container */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.data-table th, .data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Add a border line below each cell */
}

.data-table th {
    background-color: #0000;
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #0000;
}
