<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Wrapped</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1><span class="netflix">Netflix</span> <span class="wrapped">Wrapped</span></h1>
    </div>

    <div class="upload-container">
        <div class="upload-instructions">
            Instructions:<br>
            Tap on the user icon.<br>
            Click on Account.<br>
            Scroll down and click on Manage Profiles.<br>
            Click on the profile you want to analyze.<br>
            Go to "Viewing activity".
            Scroll down and click "Download all" at the bottom, then upload the file here.
        </div>
        <div class="upload-box" onclick="document.getElementById('file-upload').click()">
            Upload Netflix history csv
        </div>
        <input id="file-upload" type="file" onchange="uploadFile()"/>
        <button class="upload-btn" onclick="document.getElementById('file-upload').click()">Upload</button>
    </div>

    <div class="loading-overlay" id="loading-overlay">
        <h2>Loading...</h2>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function uploadFile() {
            var fileInput = document.getElementById('file-upload');
            if (fileInput.files.length > 0) {
                var formData = new FormData();
                formData.append('csvFile', fileInput.files[0]);
                
                // Display the loading overlay
                $('#loading-overlay').css('display', 'flex');

                $.ajax({
                    url: '/api/upload-csv',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $('#loading-overlay').hide(); // Hide loading overlay on success
                        window.location.href = '/results';
                    },
                    error: function() {
                        $('#loading-overlay').hide(); // Hide loading overlay on error
                        alert('There was an error uploading the file!');
                    }
                });
            } else {
                alert('Please select a file first.');
            }
        }
    </script>
</body>
</html>
